#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Preloader.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Preloader styles */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-image: url(./assets/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black; /* Fallback color */
}

/* Hide content when preloader is visible */
#content {
  display: none;
}

/* Display content when loading is complete */
.app:not(.loading) #content {
  display: block;
}


